body{
    background-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0)
}
h1{
    background-color: blue;
    border: 5px,solid,red;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center
}
p{
    line-height: 200%;
}
img{
    width: 500px;
}
body, td, th {
    font-family: monospace, Helvetica, sans-serif;
    font-size: 14px;
    color: #09ff00;
}